<h1>Tableau de bord</h1>

<img src="/tag.jpg">

<h2>nadb gestalt</h2>

<p id="gestalt">Chargement...</p>

<script>
  const socket = io.connect(location.hostname + ':8076');
  socket.on('gestalt', function(data) {
    $('#gestalt').html('<pre><code>' + JSON.stringify(JSON.parse(data), null, 4) + '</pre></code>');
  });
</script>