<h1>Tableau de bord</h1>

<img src="/tag.jpg">

<h2>nadb gestalt</h2>

<div id="ob">
  <div id="gestalt">
    <div><span>state</span> : {state}</div>
    <div><span>uptime</span> : {uptime}</div>
    <div><span>connections</span> : {connections}</div>
    <div><span>hardware</span></div>
    <div><span>model</span> : {model}</div>
    <div><span>sound_card</span> : {sound_card}</div>
    <div><span>sound_input</span> : {sound_input}</div>
    <div><span>rfid</span> : {rfid}</div>
    <div><span>left_ear_status</span> : {left_ear_status}</div>
    <div><span>right_ear_status</span> : {right_ear_status}</div>
  </div>
</div>

<script>
  // https://www.inrhythm.com/one-directional-data-binding/

  // initialisation des variables template
  const quote_node = document.querySelector('#ob');
  const keys = quote_node.innerHTML.match(/\{([^}]+)\}/g);
  const data_blob = {};
  for (let i = 0; i < keys.length; i++) {
    const str = keys[i];
    keys[i] = str.substring(1, str.length - 1);
    data_blob[keys[i]]="";
  }

  //proxy
  const quote_data = new Proxy(data_blob, {
    set: (target, property, value) => {
      target[property] = value;
      quote_node.render(data_blob);
    },
  });

  quote_node.template = quote_node.innerHTML;
  quote_node.render = function render(data) {
    this.innerHTML = this.template.replace(/\{\s?(\w+)\s?\}/g, (match, variable) => {
      return data[variable] || '';
    });
  };

  // mise à jour de l'état du nabaztag
  socket.on('gestalt', function(data) {
    const dataObj = JSON.parse(data);
    Object.keys(dataObj).forEach(function(key) {
      if(key === 'hardware') {
        const hardware = dataObj[key];
        Object.keys(hardware).forEach(function(key) {
          quote_data[key] = hardware[key];
        });
      }
      else
        quote_data[key] = dataObj[key];
    });
  });

</script>