@color-blue: #138699; //#138699 blue
@color-red: #992613; //#138699 blue
@color-green: #439913; //#138699 blue
@color-purple: #691399; //#138699 blue
html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 10px 60px;
}

a {
  text-decoration: none;
  background-color: #0c5460;
  color: white;
  padding: 5px;
}

header {
  padding: 20px;
  background-color: #138699;
  .logo {
    margin-right: 50px;
    padding: 20px;
  }
  a {
    padding: 10px;
    &:hover {
      background-color: #138699;
    }
    &.active {
      background-color: #17b0c7;
    }
  }
}

.main {
  min-height: calc(100% - 187px);
}

footer {
  padding: 20px;
  background-color: #138699;
}

form {
  margin: 10px;
}

button, [type=submit] {
  padding: 5px;
  margin: 2px;
  background-color: #138699;
  border: none;
  color: white;
}

#generator {
  form {
    padding: 0 50px;
    text-align: right;
    .form-gen-chor-line {
      display: grid;
      grid-template-columns: 50% 50% 50px;
      background-color: #cdcdcd;
      &:hover {
        background-color: #eaeaea;
      }
      .form-gen-chor-col {
        padding: 2px;
        &:nth-child(2) {
          text-align: left;
        }
      }
    }
    .form-gen-chor-line-submit {
      display: inline-block;
      width: 50px;
    }
    [readonly] {
      background-color: @color-red;
      border: none;
      color: white;
    }
  }
}

#ob{
  div{
    span{
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      width: 170px;
      text-align: right;
    }
  }
}
