<footer>
  <div class="container">
    version : {{version}}
    <a href="https://www.tagtagtag.fr/forum/showthread.php?tid=220" target="_blank">forum du projet</a>
    <a href="https://github.com/nabaztag2018/pynab/blob/master/PROTOCOL.md" target="_blank">protocol nadb</a>
  </div>
</footer>