<header>
  <div class="container">
    <a href="/" class="logo {{isActive 'home' name}}">NABAZTAG</a>
    <a href="/nabd" class="{{isActive 'nabd' name}}">Commandes</a>
    <a href="/chorgenerator" class="{{isActive 'chorgenerator' name}}">Generateur</a>
  </div>
</header>